<%- include("partials/header.ejs") %>

<body>
    <!-- <h1>To-Do List</h1> -->
        <div class="box" id="heading">
        <h1> <%= listTitle %></h1>
    </div>

    <div class="box">
        <% if (locals.dayTasks) { %>
            <% dayTasks.forEach((task, index) => { %>
                <div class="item">
                    <input type="checkbox">
                    <p>  <%= task %>  </p>
                </div>
               
            <% }) %>
            <% } %>

        <form class="item" action="/submit" method="POST">
            <!-- <input id="taskEntry" type="text" name="task" placeholder="Enter New Task">  -->
            <div class="task-entry">
                <input id="taskEntry" type="text" name="task" placeholder="Enter New Task">
                <button id="addButton" type="submit">Add</button>
            </div>
            <input type="hidden" name="redirect" value="/">
        </form>
            <!-- <br> -->
        </form>
    </div>
<!-- <script> 
function toggleTask(checkbox, index) {
    const label = document.getElementById(`newTask${index}`);

    if (checkbox.checked) {
        label.style.textDecoration = "line-through";
    } else {
        label.style.textDecoration = "none";
    }
}
</script> -->

</body>
</html>